<%- include('./../partials/_head') %>


<%- include('partials/_auth-nav') %>

</header>

<main class="dashboard-pages flex">

    <section class="dashboard-component">
        <%- include('partials/_dashboard-component') %>
    </section>

    <section class="dashboard-show dashboard-page">
        <h1>Le mie carte</h1>
        <div class="dashboard-show-container-cards flex">
        <% cards.forEach(card => { %>
            <div class="dashboard-show-container-cards-card">
                <img src="<%= card.image %>" alt="">
            </div>
                
            
            
        <% }) %>
        </div>
    </section>


</main>

</div>
<%- include('./../partials/_footer') %>